.login {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
align-content: stretch;
background: #767a7a;
padding:30px;
border-radius: 25px;
}

#login {
  border-radius: 10px;
  padding: 8px;
}

#password {
  border-radius: 10px;
  padding: 8px;
}

.loginButton {

}

.signUpButton {

}

body {
 /* /* background: #86c5cc; */
/* background: #458991; */
background: #65acb5;
}