.hide {
  visibility: hidden;
}

h1 {
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

#loginSignUp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  background: #767a7a;
  padding: 30px;
  border-radius: 25px;
}

#loginBox {
  border-radius: 10px;
  padding: 12px;
}

#login {
  border-radius: 10px;
  padding: 8px;
}

#passwordLogin {
  border-radius: 10px;
  padding: 8px;
}

#passwordRegister {
  border-radius: 10px;
  padding: 8px;
}

#firstName {
  border-radius: 10px;
  padding: 8px;
}

#lastName {
  border-radius: 10px;
  padding: 8px;
}

#email {
  border-radius: 10px;
  padding: 8px;
}

.loginButton {
  border-radius: 6px;
}

.signUpButton {
  border-radius: 6px;
}

.logout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  /* align-content: stretch; */
}

#logOutButton {
  border-radius: 6px;
}

body {
  background: #65acb5;
}